/*常用的样式设置*/
/*@author littlemotor*/
/*@date 19.4.13*/

#message-textArea {
    /*margin-top: 8%;*/
    margin-bottom: 30px;
}

#postedMessages{
    margin-top: 75px;
    margin-bottom: 25px;
}

/*爱心iocn位置*/
.glyphicon-heart,.glyphicon-heart-empty {
    margin-left: 75%;
}

/*评论icon位置*/
.glyphicon-comment{
    margin-left: 3%;
}

#postedMessages span.likeNum,span.commentNum{
    margin-left: 1%;
}

a:link {text-decoration:none;color:inherit;}		/* 未被访问的链接 */
a:visited {text-decoration:none;color:inherit;}	/* 已被访问的链接 */
a:hover {text-decoration:none;color:inherit;}	/* 鼠标指针移动到链接上 */
a:active {text-decoration:none;color:inherit;}	/* 正在被点击的链接 */

/*评论的删除按钮*/
.panel a{
    text-decoration:none;
    color: #929496;
    cursor: pointer;
}

.commentTips {
    margin-top: 22px;
}

/*用户设置页面*/

#content{
    margin-top: 150px;
    margin-bottom: 300px;
}
/*primary nav*/
.nav-primary:before, .nav-primary:after {display: table;content: " ";}
.nav-primary:after {clear: both;}
.nav-primary{background-color: #233445}
.nav-primary li{line-height: 1.5}
.nav-primary li li a{padding:5px 15px;}
.nav-primary li a i{margin-right: 0.5em}
.nav-primary > ul > li > a{color: #8e9eae;border-bottom: 1px solid #2a3b4c;padding:10px 10px;position: relative;font-weight: 600}
.nav-primary > ul > li > .dropdown-menu{margin-left: 0;border-radius: 0}
.nav-primary > ul > .dropdown-submenu:hover > a,
.nav-primary > ul > .dropdown-submenu:focus > a,
.nav-primary > ul > li > a:hover,
.nav-primary > ul > li > a:focus,
.nav-primary > ul > li > a:active,
.nav-primary > ul > li.active > a{color: #e1e5e9;background-color: transparent;transition:color .3s ease-in-out 0s;}
.nav-primary > ul > li.active > a{border-left: 1px solid #13c4a5;padding-left: 9px;}
.nav-primary > ul > .dropdown-submenu  > a:after{display: none}
/*desktop*/
@media (min-width: 992px){
    #footer{margin-top: 20px}
    ::-webkit-scrollbar {width:.25em;height:.25em;position:absolute}
    ::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.15)}
    ::-webkit-scrollbar-track {background-color:rgba(0,0,0,0.0)}
    .navbar-form input{transition:width .3s ease-in-out 0s;}
    .navbar-form input:focus{width:200px}
    .bg-black .navbar-form input:focus{background-color: #fff;color:#222;}

    .nav-primary > ul > li > .dropdown-menu{margin-top: -1px;margin-left: 0}
    .nav-vertical > ul > li > a > i{display: block;font-size: 1.3em;margin:2px auto}
    .nav-vertical > ul > li > a{text-align: center;border-bottom: none;font-size: 11.5px}
    .nav-primary.nav-vertical > ul > li > a > .badge{position: absolute;top: 4px;right: 15px;font-size: 11px;padding:3px 6px}

    #nav{position: relative;width: 150px;position: absolute;z-index:1000;left:0;top:50px;bottom: 0;border-right:1px solid #162636}
    #nav.nav-vertical {width: 90px}
    #nav + #content{padding-left: 150px;}
    #nav.nav-vertical + #content {padding-left: 90px;}
    .nav-primary .affix{top: 0;min-width: 149px}
    .nav-primary.nav-vertical .affix{top: 0;min-width: 89px}
    .navbar-fixed .nav-primary .nav{top: 50px}
    .sidebar{width: 200px;display: table-cell;vertical-align: top}
    .sidebar-small{width: 160px}
    .sidebar-large{width: 300px}
    .modal{overflow-y: auto;}
    .col-lg-2-4{float: left;}
}
