<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
  <!--PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
  <!--"http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>&lt;!&ndash; 配置信息是有严格的先后顺序的不能改变 &ndash;&gt;-->
  <!---->
    <!--&lt;!&ndash;<properties resource="cn/littlemotor/config/mybatis/jdbc.properties">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;一些配置参数&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</properties>&ndash;&gt;-->
  <!---->
    <!--<settings>-->
        <!--&lt;!&ndash; 这个配置使全局的映射器启用或禁用缓存 &ndash;&gt;-->
        <!--<setting name="cacheEnabled" value="true"></setting>-->
        <!--&lt;!&ndash; 允许自动生成主键，需要驱动支持 &ndash;&gt;-->
        <!--<setting name="useGeneratedKeys" value="true"></setting>-->
        <!--&lt;!&ndash; 配置默认的执行器 &ndash;&gt;-->
        <!--<setting name="defaultExecutorType" value="REUSE"></setting>-->
        <!--&lt;!&ndash; 延迟加载选项 &ndash;&gt;-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
    <!--</settings>-->


    <!--&lt;!&ndash; 别名 &ndash;&gt;-->
	<!--<typeAliases>-->
		<!--<typeAlias  alias="user"-->
			<!--type="cn.littlemotor.web.model.pojo.user.User"/>-->
	<!--</typeAliases>-->
	<!---->
	<!--&lt;!&ndash; 数据库环境 &ndash;&gt;-->
    <!--&lt;!&ndash;<environments default="development">&ndash;&gt;-->
      <!--&lt;!&ndash;<environment id="development">&ndash;&gt;-->
        <!--&lt;!&ndash;<transactionManager type="JDBC"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<dataSource type="POOLED">&ndash;&gt;-->
          <!--&lt;!&ndash;<property name="driver" value="${database.driver}"/>&ndash;&gt;-->
          <!--&lt;!&ndash;<property name="url" value="${database.url}"/>&ndash;&gt;-->
          <!--&lt;!&ndash;<property name="username" value="${database.username}"/>&ndash;&gt;-->
          <!--&lt;!&ndash;<property name="password" value="${database.password}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</dataSource>&ndash;&gt;-->
      <!--&lt;!&ndash;</environment>&ndash;&gt;-->
    <!--&lt;!&ndash;</environments>&ndash;&gt;-->


    <!--&lt;!&ndash; 引入映射器 &ndash;&gt;-->
    <!--<mappers>-->
        <!--<mapper resource="static/mybatis/mapper/UserMapper.xml"/>-->
    <!--</mappers>-->
  <!---->
<!--</configuration>-->