<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.littlemotor.model.dao.MicroPostDao">

    <insert id="insertMicroPost" parameterType="microPostModel"  useGeneratedKeys="true" keyProperty="id">
        insert into micropost(id,message,created_at) values(#{id},#{message},#{createdAt})
    </insert>

    <select id="getMicroPost" parameterType="long" resultMap="microPostResultMap">
        select * from micropost where id = #{id}
    </select>

    <resultMap id="microPostResultMap" type="microPostModel">
        <id property="id" column="id"></id>
        <result property="message" column="message"></result>
        <result property="createdAt" column="created_at"></result>
    </resultMap>



  <!-- 
  <delete id="deleteRole" parameterType="long">
      delete from t_role where id= #{id};
  </delete>
  
  <update id="updateRole" parameterType="role">
    update t_role set role_name = #{roleName}, note = #{note}
    where id = #{id}
  </update>
  

  

  
  <select id="findRoles" resultType="role">
    select id, role_name as roleName, note from t_role
    where role_name like concat('%',#{roleName},'%')
    and note like concat('%',#{note},'%')
    concat用于合并多个字符串，%为通配符匹配一个或多个字符
  </select> -->
</mapper>